<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DABConnection" connectionString="Data Source=DESKTOP-MOT8LB0;Initial Catalog=DAB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="DABWinForms.Properties.Settings.DABConnectionString"
   connectionString="Data Source=DESKTOP-MOT8LB0;Initial Catalog=DAB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>